/* General */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('img/background.jpg');
    background-attachment: fixed;
    background-size: 100%;
}

main {
    margin: 0px;
    padding: 0px;
    min-height: 400px;
    display: flex;
    flex-flow: row;
}

a {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}


/* Article */
article {
    margin: 4px;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 7pt;
    background: #4F7012;
    color: white;
    flex: 3 1 80%;
    order: 2;
}

article>p,
article>ul,
article>table {
    font-size: 1.2em;
}

article>h2 {
    text-align: center;
    font-size: 2.5em;
}

article>h3 {
    font-size: 1.8em;
}

article>p>img {
    float: right;
    max-width: 50%;
    margin: .5em;
}

article td>img {
    max-width: 300px;
    max-height: 300px;
}

#species {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    background: darkgrey;
}

#species .picture_col {
    width: 300px;
}

#species tr:nth-child(even) {
    background-color: #FA442A;
}

#species tr:nth-child(odd) {
    background-color: #E3280E;
}

#species th {
    background-color: black;
}

.video {
    text-align: center;
    width: 100%;
}


/* Navigation */
nav {
    margin: 4px;
    padding: 6px 0px;
    border: 1px solid darkgray;
    border-radius: 7px;
    background: #E9A000;
    color: white;
    position: relative;
    flex: 1 6 20%;
    order: 1;
}

nav>h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

nav>ul {
    position: sticky;
    /* Safari */
    position: -webkit-sticky;
    top: 0;
    font-size: 1.5em;
    list-style-type: none;
    padding-inline-start: 0px;
}

.navigation_item {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-flow: row;
}

.navigation_item>a {
    margin: -15px;
    padding: 15px;
    margin-left: -45px;
    padding-left: 45px;
    width: 100%;
}

.navigation_item>img {
    width: 1.3em;
    margin-right: 5px;
}

.navigation_item:hover {
    background-color: #FA442A;
}

.navigation_item:hover a {
    color: black;
}


/* Header & Footer */
header,
footer {
    margin: 4px;
    padding: 5px 0px;
    min-height: 50px;
    border: 1px solid darkgray;
    border-radius: 7pt;
    background: #395701;
    text-align: center;
    display: flex;
    flex-flow: row;
}

header>h1 {
    margin: 0px;
    width: 700px;
    font-size: 3.2em;
    text-transform: uppercase;
    order: 2;
}

footer>h4 {
    margin: 12px 0px;
    width: 300px;
    font-size: 1.5em;
    order: 2;
}

.forest_left {
    width: 100%;
    height: 50px;
    background-image: url("img/larch_icon_3.svg");
    background-size: 50px;
    background-position-x: right;
    background-repeat: repeat-x;
    order: 1;

}

.forest_right {
    width: 100%;
    height: 50px;
    background-image: url("img/larch_icon_3.svg");
    background-size: inherit;
    background-size: 50px;
    background-position-x: left;
    background-repeat: repeat-x;
    order: 3;
}